﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nam POS</h1>
    <p class="lead">Nam POS is a online POS system that lets you take youre business awith you anywhere.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

