﻿@model NamPOS.Models.Shop

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slogan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slogan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

    </dl>
</div>

@*<h4>Admins</h4>
<hr />
<table class="table table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Users.First().firstName)</th>
        <th>@Html.DisplayNameFor(model => model.Users.First().lastName)</th>
        <th>@Html.DisplayNameFor(model => model.Users.First().Email)</th>
    </tr>
    @foreach (var item in Model.Admins)
    {

        <tr>
            <td>@Html.DisplayFor(model => item.firstName)</td>
            <td>@Html.DisplayFor(model => item.lastName)</td>
            <td>@Html.DisplayFor(model => item.Email)</td>
        </tr>

    }

</table>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShopId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
